@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-ellipsis-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }
}
