@import "tailwindcss";

@layer base {
  html {
    font-family: "work-sans-med";
  }
}

@layer utilities {
  .shadow-brut {
    box-shadow: 4px 4px 0 black;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .shadow-brut-sm {
    box-shadow: 2px 2px 0 black;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .hover-clear-brut:hover {
    transform: translate(4px, 4px);
    box-shadow: none;
  }

  .hover-clear-brut-sm:hover {
    transform: translate(2px, 2px);
    box-shadow: none;
  }
}

@layer components {
  .text-ellipsis-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }

  .border-brut {
    border: 2px solid black;
  }

  .border-brut-yellow {
    border: 2px solid yellow;
  }
}

