@import "tailwindcss";

@layer base {
  html {
    font-family: "work-sans-med";
  }
}

@layer utilities {
  .shadow-brut {
    box-shadow: 4px 4px 0 black;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .shadow-brut-sm {
    box-shadow: 2px 2px 0 black;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .hover-clear-brut:hover {
    transform: translate(4px, 4px);
    box-shadow: none;
  }

  .hover-clear-brut-sm:hover {
    transform: translate(2px, 2px);
    box-shadow: none;
  }
}

@layer components {
  .hamburger-menu {
    /* Base Styles for Mobile First */
    @apply absolute top-0 left-0 h-full bg-white p-4 z-50 border-r-2 w-[300px] flex flex-col;
    /* Clearing Base Styles for Large Screens */
    @apply lg:p-0 lg:w-full lg:border-0 lg:flex-row;
    /* Base Styles for Large Screens */
    @apply lg:relative lg:flex lg:justify-start lg:gap-4 lg:font-bold;
  }

  .hamburger-icon {
    @apply mr-auto lg:hidden cursor-pointer;
  }

  .hamburger-dropshadow {
    /* Base Styles */
    @apply absolute top-0 left-0 w-full h-full bg-gray-400/50 cursor-pointer;
    @apply lg:hidden;
  }

  .text-ellipsis-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 2;
    -webkit-line-clamp: 2;
  }

  .border-brut {
    border: 2px solid black;
  }

  .border-brut-yellow {
    border: 2px solid yellow;
  }
}
